In [16]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: numpy in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (2.0.0)
Requirement already satisfied: pandas in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from seaborn) (2.0.0)
Requirement already satisfied: pandas>=1.2 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from seaborn) (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
fortnight_data_df = pd.read_csv(r'C:\Users\Krishna\Documents\GitHub\shiny-octo-succotash\fortnightly_data.csv',encoding_errors='ignore')
fortnight_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52512 entries, 0 to 52511
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PLANT               52509 non-null  float64
 1   BILL DATE           52509 non-null  object
 2   Date                1123 non-null   float64
 3   SOLD TO PARTY       52509 non-null  float64
 4   SOLD TO PARTY NAME  52509 non-null  object
 5   MATERIAL NUMBER     52509 non-null  object
 6   QTY(1000 SM3)       52510 non-null  object
 7   QUANTITY(MBG)       52510 non-null  object
 8   QUANTITY(MBN)       52510 non-null  object
 9   C-Loc Name          49376 non-null  object
 10  C-Location          49376 non-null  object
 11  District            19836 non-null  object
 12  INDUSTORY SECTOR    51403 non-null  object
 13  PAYER NAME          52509 non-null  object
 14  PAYER               52509 non-null  float64
 15  PLANT NAME          52509 non-null  object
 16  Receiving Point     30002 non-null  object
 17  SUPPLY REGION       52509 non-null  object
dtypes: float64(4), object(14)
memory usage: 7.2+ MB

C:\Users\Krishna\AppData\Local\Temp\ipykernel_10592\1479064741.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  fortnight_data_df = pd.read_csv(r'C:\Users\Krishna\Documents\GitHub\shiny-octo-succotash\fortnightly_data.csv',encoding_errors='ignore')

In [23]:
fortnight_data_df.head()

,PLANT,BILL DATE,Date,SOLD TO PARTY,SOLD TO PARTY NAME,MATERIAL NUMBER,QTY(1000 SM3),QUANTITY(MBG),QUANTITY(MBN),C-Loc Name,C-Location,District,INDUSTORY SECTOR,PAYER NAME,PAYER,PLANT NAME,Receiving Point,SUPPLY REGION
0,2020.0,15-04-2023,NaN,10577.0,KRIBHCO-HP,GMS_NG,0.0,0.000,0.000,EXHAZ KRIBHCO HP,C10577,Surat,Fertilizer Industry,KRIBHCO-HP,10577.0,NG Trading - HVJ - ExHazira,NaN,GJ
1,2110.0,15-04-2023,NaN,12997.0,THINK GAS BHOPAL PRIVATE LIMITED,GMS_NG,0.0,0.000,0.000,NaN,NaN,NaN,City Gas-CNG,THINK GAS BHOPAL PRIVATE LIMITED,12997.0,NG Trading - S Guj Baroda(NH),NaN,GJ
2,2110.0,15-04-2023,NaN,12997.0,THINK GAS BHOPAL PRIVATE LIMITED,GMS_NG-NAPM-WOS,0.0,0.000,0.000,NaN,NaN,NaN,City Gas-CNG,THINK GAS BHOPAL PRIVATE LIMITED,12997.0,NG Trading - S Guj Baroda(NH),NaN,GJ
3,2110.0,15-04-2023,NaN,12796.0,AGP CGD India Private Limited,GMS_NG,0.0,0.000,0.000,NaN,NaN,NaN,City Gas-CNG,AGP CGD India Private Limited,12796.0,NG Trading - S Guj Baroda(NH),NaN,GJ
4,2110.0,15-04-2023,NaN,12796.0,AGP CGD India Private Limited,GMS_NG-NAPM-WOS,0.0,0.000,0.000,NaN,NaN,NaN,City Gas-CNG,AGP CGD India Private Limited,12796.0,NG Trading - S Guj Baroda(NH),NaN,GJ

In [24]:
all_columns = fortnight_data_df.columns
print(fortnight_data_df.columns)

Index(['PLANT', 'BILL DATE', 'Date', 'SOLD TO PARTY', 'SOLD TO PARTY NAME',
       'MATERIAL NUMBER', 'QTY(1000 SM3)', 'QUANTITY(MBG)', 'QUANTITY(MBN)',
       'C-Loc Name', 'C-Location', 'District', 'INDUSTORY SECTOR',
       'PAYER NAME', 'PAYER', 'PLANT NAME', 'Receiving Point',
       'SUPPLY REGION'],
      dtype='object')

In [25]:
columns_needed = ['PLANT', 'BILL DATE','SOLD TO PARTY','MATERIAL NUMBER', 'QTY(1000 SM3)','C-Location', 'District', 'INDUSTORY SECTOR','PAYER', 'PLANT NAME', 'Receiving Point',
       'SUPPLY REGION']
columns_dropped = [i for i in all_columns if i not in columns_needed]
print(all_columns)

Index(['PLANT', 'BILL DATE', 'Date', 'SOLD TO PARTY', 'SOLD TO PARTY NAME',
       'MATERIAL NUMBER', 'QTY(1000 SM3)', 'QUANTITY(MBG)', 'QUANTITY(MBN)',
       'C-Loc Name', 'C-Location', 'District', 'INDUSTORY SECTOR',
       'PAYER NAME', 'PAYER', 'PLANT NAME', 'Receiving Point',
       'SUPPLY REGION'],
      dtype='object')

In [26]:
fortnight_data_df.drop(columns_dropped, axis=1, inplace=True)
fortnight_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52512 entries, 0 to 52511
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PLANT             52509 non-null  float64
 1   BILL DATE         52509 non-null  object
 2   SOLD TO PARTY     52509 non-null  float64
 3   MATERIAL NUMBER   52509 non-null  object
 4   QTY(1000 SM3)     52510 non-null  object
 5   C-Location        49376 non-null  object
 6   District          19836 non-null  object
 7   INDUSTORY SECTOR  51403 non-null  object
 8   PAYER             52509 non-null  float64
 9   PLANT NAME        52509 non-null  object
 10  Receiving Point   30002 non-null  object
 11  SUPPLY REGION     52509 non-null  object
dtypes: float64(3), object(9)
memory usage: 4.8+ MB

In [28]:
!conda install -c conda-forge ydata-profiling
from ydata_profiling import ProfileReport
profile = ProfileReport(fortnight_data_df, Title="Fortnight Sales Data")
profile.to_notebook_iframe()