In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [29]:
fs = glob.glob(rf"C:\Users\rachitgandhi2\OneDrive - KPMG\Desktop\GAIL_Pipeline_Hydraulics\Customer Sales Data\*.csv")

df = pd.DataFrame()

for file in fs:
    
    df = pd.concat([df,pd.read_csv(f'{file}')])
df.head()

,PLANT,BILL DATE,SOLD TO PARTY,SOLD TO PARTY NAME,MATERIAL NUMBER,QTY(1000 SM3),QUANTITY(MBG),QUANTITY(MBN),C-Loc Name,C-Location,...,SUPPLY REGION,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2024.0,2019-04-15,10837.0,BRIDGESTONE INDIA PVT LTD,GMS_RLNG,164.034,6176.329,5571.197,PITHAMPUR BRIDGESTONE,C10837,...,MP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,2019-04-15,10837.0,BRIDGESTONE INDIA PVT LTD,GMS_RLNG-(MIDTERM),25.497,960.000,865.943,PITHAMPUR BRIDGESTONE,C10837,...,MP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024.0,2019-04-15,11026.0,CIPLA LIMITED,GMS_RLNG,74.589,2809.548,2534.315,PITHAMPUR CIPLA,C11026,...,MP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024.0,2019-04-15,10835.0,FORCE MOTORS LTD,GMS_RLNG,50.744,1911.720,1724.454,PITHAMPUR FORCE MOTORS,C10835,...,MP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024.0,2019-04-15,10835.0,FORCE MOTORS LTD,GMS_RLNG-(MIDTERM),0.392,14.629,13.192,PITHAMPUR FORCE MOTORS,C10835,...,MP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.describe()

,PLANT,SOLD TO PARTY,QTY(1000 SM3),QUANTITY(MBG),QUANTITY(MBN),PAYER
count,85718.000000,85718.000000,85718.000000,8.571800e+04,8.571800e+04,85718.000000
mean,2249.656268,16879.456275,917.739924,3.431872e+04,3.096626e+04,17453.209338
std,374.450746,13203.962812,3146.790468,1.174937e+05,1.060026e+05,15297.731912
min,2011.000000,10005.000000,0.000000,0.000000e+00,0.000000e+00,10005.000000
25%,2024.000000,10844.000000,11.837250,4.505317e+02,4.066587e+02,10639.000000
50%,2110.000000,12202.000000,50.902000,1.931941e+03,1.743233e+03,12053.000000
75%,2160.000000,13081.000000,294.841000,1.117200e+04,1.008635e+04,12941.000000
max,3185.000000,51360.000000,56592.313000,2.037043e+06,1.834964e+06,70120.000000

In [31]:
all_columns = df.columns
print(all_columns)

Index(['PLANT', 'BILL DATE', 'SOLD TO PARTY', 'SOLD TO PARTY NAME',
       'MATERIAL NUMBER', 'QTY(1000 SM3)', 'QUANTITY(MBG)', 'QUANTITY(MBN)',
       'C-Loc Name', 'C-Location', 'District', 'INDUSTORY SECTOR',
       'PAYER NAME', 'PAYER', 'PLANT NAME', 'Receiving Point', 'SUPPLY REGION',
       'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [32]:
df_copy = df.copy(deep=True)
print(True)
df_copy.drop(['C-Loc Name','SOLD TO PARTY NAME','PLANT NAME','Receiving Point','QUANTITY(MBG)','QUANTITY(MBN)'], axis=1,inplace=True)
df_copy.drop(['C-Location','District','PLANT','PAYER','PAYER NAME','SUPPLY REGION'],axis=1,inplace=True)
i = 0
for i in range(0,9):
    df_copy.drop([f'Unnamed: {i}'],inplace=True,axis=1)
df_copy.drop(['MATERIAL NUMBER'],axis=1,inplace=True)

True

In [33]:
df_copy.head()

    BILL DATE  SOLD TO PARTY  QTY(1000 SM3) INDUSTORY SECTOR
0  2019-04-15        10837.0        164.034           Others
1  2019-04-15        10837.0         25.497           Others
2  2019-04-15        11026.0         74.589           Others
3  2019-04-15        10835.0         50.744           Others
4  2019-04-15        10835.0          0.392           Others

In [34]:
pd.DataFrame(pd.to_datetime(df_copy['BILL DATE'])).describe()

                           BILL DATE
count                          85718
mean   2021-09-02 12:59:51.348375040
min              2019-04-07 00:00:00
25%              2019-12-15 00:00:00
50%              2022-06-30 00:00:00
75%              2022-11-15 00:00:00
max              2023-03-31 00:00:00

In [35]:
'''data : DataFrame
values : column to aggregate, optional
index: column, Grouper, array, or list of the previous
columns: column, Grouper, array, or list of the previous'''
indus_df = df_copy.pivot_table(index=['INDUSTORY SECTOR'],columns=['BILL DATE','SOLD TO PARTY','QTY(1000 SM3)'])

In [52]:
power_df = df_copy.loc[df['INDUSTORY SECTOR']=='Power Industry']
power_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3895 entries, 357 to 53098
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BILL DATE         3895 non-null   object
 1   SOLD TO PARTY     3895 non-null   float64
 2   QTY(1000 SM3)     3895 non-null   float64
 3   INDUSTORY SECTOR  3895 non-null   object
dtypes: float64(2), object(2)
memory usage: 152.1+ KB

In [55]:
import holidays
from datetime import datetime, timedelta

# Define the Indian holidays
indian_holidays = holidays.India()

# Define the start and end dates
start_date = datetime(2024, 10, 1)
end_date = datetime(2024, 12, 25)

# Initialize a counter for holidays
holiday_count = 0

# Iterate over the dates between start and end dates
for n in range(int((end_date - start_date).days)):
    day = start_date + timedelta(n)
    if day in indian_holidays:
        holiday_count += 1

# Populate the festival column with the count
festival_column = [1] * holiday_count + [0] * (int((end_date - start_date).days) - holiday_count)

print(festival_column)

[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [58]:
import requests
import datetime

def get_average_temperature(api_key, location, start_date, end_date):
    """
    Calculate the average temperature in a given location between two dates.

    Args:
        api_key (str): OpenWeatherMap API key
        location (str): City name in India (e.g., "Mumbai", "Delhi", etc.)
        start_date (datetime.date): Start date
        end_date (datetime.date): End date

    Returns:
        float: Average temperature in Celsius
    """
    latitude, longitude = get_coordinates(location)
    start_datetime = datetime.datetime.combine(start_date, datetime.time())
    base_url = f"http://api.openweathermap.org/data/2.5/onecall/timemachine?lat={latitude}&lon={longitude}&dt={int(start_datetime.timestamp())}&appid={api_key}"
    response = requests.get(base_url)

    if response.status_code != 200:
        raise Exception(f"Failed to retrieve data: {response.status_code}")

    data = response.json()
    hourly_data = data["hourly"]

    temperatures = []
    for hour_data in hourly_data:
        temperature = hour_data["temp"]
        temperatures.append(temperature)

    average_temperature = sum(temperatures) / len(temperatures)
    return average_temperature

def get_coordinates(location):
    """
    Get the latitude and longitude of a city using Nominatim API.

    Args:
        location (str): City name

    Returns:
        tuple: (latitude, longitude)
    """
    base_url = f"https://nominatim.openstreetmap.org/search?q={location}&format=json&limit=1"
    response = requests.get(base_url)

    if response.status_code != 200:
        raise Exception(f"Failed to retrieve coordinates: {response.status_code}")

    data = response.json()
    if not data:
        raise Exception(f"Failed to find coordinates for {location}")

    latitude = data[0]["lat"]
    longitude = data[0]["lon"]
    return latitude, longitude



# Example usage
openweathermap_api_key = "39d1af451b93a8008959b79e1ff14471"
location = "Mumbai"
start_date = datetime.date(2022, 1, 1)
end_date = datetime.date(2022, 1, 31)

average_temperature = get_average_temperature(openweathermap_api_key, location, start_date, end_date)
print(f"Average temperature in {location} between {start_date} and {end_date}: {average_temperature:.2f}Â°C")

Exception: Failed to retrieve data: 401