In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [2]:
fs = glob.glob(rf"*.csv")

df = pd.DataFrame()

for file in fs:
    
    df = pd.concat([df,pd.read_csv(f'{file}')])
df.head()

,PLANT,BILL DATE,SOLD TO PARTY,SOLD TO PARTY NAME,MATERIAL NUMBER,QTY(1000 SM3),QUANTITY(MBG),QUANTITY(MBN),C-Loc Name,C-Location,District,INDUSTORY SECTOR,PAYER NAME,PAYER,PLANT NAME,Receiving Point,SUPPLY REGION
0,2024,2019-04-15,10837,BRIDGESTONE INDIA PVT LTD,GMS_RLNG,164.034,6176.329,5571.197,PITHAMPUR BRIDGESTONE,C10837,Dhar,Others,BRIDGESTONE INDIA PVT LTD,10837,NG Trading - HVJ - Khera,DAHEJ,MP
1,2024,2019-04-15,10837,BRIDGESTONE INDIA PVT LTD,GMS_RLNG-(MIDTERM),25.497,960.000,865.943,PITHAMPUR BRIDGESTONE,C10837,Dhar,Others,BRIDGESTONE INDIA PVT LTD,10837,NG Trading - HVJ - Khera,DAHEJ,MP
2,2024,2019-04-15,11026,CIPLA LIMITED,GMS_RLNG,74.589,2809.548,2534.315,PITHAMPUR CIPLA,C11026,Dhar,Others,CIPLA LIMITED,11026,NG Trading - HVJ - Khera,DAHEJ,MP
3,2024,2019-04-15,10835,FORCE MOTORS LTD,GMS_RLNG,50.744,1911.720,1724.454,PITHAMPUR FORCE MOTORS,C10835,Dhar,Others,FORCE MOTORS LTD,10835,NG Trading - HVJ - Khera,DAHEJ,MP
4,2024,2019-04-15,10835,FORCE MOTORS LTD,GMS_RLNG-(MIDTERM),0.392,14.629,13.192,PITHAMPUR FORCE MOTORS,C10835,Dhar,Others,FORCE MOTORS LTD,10835,NG Trading - HVJ - Khera,DAHEJ,MP

In [3]:
df.describe()

,PLANT,SOLD TO PARTY,QTY(1000 SM3),QUANTITY(MBG),QUANTITY(MBN),PAYER
count,122425.000000,122425.000000,122425.000000,1.224250e+05,1.224250e+05,122425.000000
mean,2245.733633,16729.886731,953.524062,3.563823e+04,3.215472e+04,17352.757639
std,372.335003,13076.535238,3222.925855,1.202588e+05,1.084887e+05,15247.307783
min,2011.000000,10005.000000,0.000000,0.000000e+00,0.000000e+00,10005.000000
25%,2024.000000,10839.000000,11.974000,4.556580e+02,4.112570e+02,10634.000000
50%,2110.000000,12177.000000,52.500000,1.993832e+03,1.800379e+03,11947.000000
75%,2150.000000,12986.000000,307.905000,1.170000e+04,1.056390e+04,12831.000000
max,3185.000000,51360.000000,56959.202000,2.047370e+06,1.844192e+06,70120.000000

In [4]:
all_columns = df.columns
print(all_columns)

Index(['PLANT', 'BILL DATE', 'SOLD TO PARTY', 'SOLD TO PARTY NAME',
       'MATERIAL NUMBER', 'QTY(1000 SM3)', 'QUANTITY(MBG)', 'QUANTITY(MBN)',
       'C-Loc Name', 'C-Location', 'District', 'INDUSTORY SECTOR',
       'PAYER NAME', 'PAYER', 'PLANT NAME', 'Receiving Point',
       'SUPPLY REGION'],
      dtype='object')

In [5]:
df_copy = df.copy(deep=True)
print(True)
df_copy.drop(['C-Loc Name','SOLD TO PARTY NAME','PLANT NAME','QUANTITY(MBG)','QUANTITY(MBN)'], axis=1,inplace=True)
df_copy.drop(['C-Location','District','PLANT','PAYER','PAYER NAME','SUPPLY REGION'],axis=1,inplace=True)
df_copy.drop(['MATERIAL NUMBER'],axis=1,inplace=True)

True

In [6]:
df_copy.head()

    BILL DATE  SOLD TO PARTY  QTY(1000 SM3) INDUSTORY SECTOR Receiving Point
0  2019-04-15          10837        164.034           Others           DAHEJ
1  2019-04-15          10837         25.497           Others           DAHEJ
2  2019-04-15          11026         74.589           Others           DAHEJ
3  2019-04-15          10835         50.744           Others           DAHEJ
4  2019-04-15          10835          0.392           Others           DAHEJ

In [7]:
pd.DataFrame(pd.to_datetime(df_copy['BILL DATE'])).describe()

                           BILL DATE
count                         122425
mean   2021-08-08 09:31:53.697365760
min              2019-04-07 00:00:00
25%              2020-03-31 00:00:00
50%              2022-02-15 00:00:00
75%              2022-09-15 00:00:00
max              2023-03-31 00:00:00

In [8]:
power_df = df_copy.loc[df['INDUSTORY SECTOR']=='Power Industry']
power_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5765 entries, 357 to 53098
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BILL DATE         5765 non-null   object
 1   SOLD TO PARTY     5765 non-null   int64
 2   QTY(1000 SM3)     5765 non-null   float64
 3   INDUSTORY SECTOR  5765 non-null   object
 4   Receiving Point   3671 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 270.2+ KB

In [9]:
!pip install holidays
import holidays
from datetime import datetime, timedelta

# Define the Indian holidays
indian_holidays = holidays.India()

# Define the start and end dates
start_date = datetime(2024, 10, 1)
end_date = datetime(2024, 12, 25)

# Initialize a counter for holidays
holiday_count = 0

# Iterate over the dates between start and end dates
for n in range(int((end_date - start_date).days)):
    day = start_date + timedelta(n)
    if day in indian_holidays:
        holiday_count += 1

# Populate the festival column with the count
festival_column = [1] * holiday_count + [0] * (int((end_date - start_date).days) - holiday_count)

print(festival_column)

Requirement already satisfied: holidays in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (0.53)
Requirement already satisfied: python-dateutil in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from holidays) (2.9.0)
Requirement already satisfied: six>=1.5 in c:\users\krishna\.conda\envs\data_fort\lib\site-packages (from python-dateutil->holidays) (1.16.0)
[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
power_df['BILL DATE'] = pd.to_datetime(power_df['BILL DATE'], errors='coerce')
power_df['BILL DATE'].dropna(inplace=True)

C:\Users\Krishna\AppData\Local\Temp\ipykernel_18916\30304260.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  power_df['BILL DATE'] = pd.to_datetime(power_df['BILL DATE'], errors='coerce')
C:\Users\Krishna\AppData\Local\Temp\ipykernel_18916\30304260.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  power_df['BILL DATE'].dropna(inplace=True)

In [11]:
import pandas as pd
import holidays
from datetime import timedelta
from tqdm import tqdm

def calculate_holiday_count(power_df, column_mapping):
    """
    Calculate the holiday count between consecutive timestamps for each client.

    Args:
        power_df (pd.DataFrame): Input DataFrame
        column_mapping (dict): Mapping of required fields to actual column names

    Returns:
        pd.DataFrame: DataFrame with 'holiday_count' column added
    """
    # Initialize Indian holidays
    indian_holidays = holidays.India()

    # Sort the DataFrame by party and timestamp
    power_df = power_df.sort_values([column_mapping['party'], column_mapping['timestamp']])

    # Initialize the 'holiday_count' column
    power_df['holiday_count'] = 0

    # Group the DataFrame by party
    grouped = power_df.groupby(column_mapping['party'])

    # Process each group
    for _, group in tqdm(grouped, desc="Processing groups for holiday count"):
        # Calculate holiday count between consecutive timestamps
        for i in range(len(group) - 1):
            current_row = group.iloc[i]
            next_row = group.iloc[i + 1]

            start_date = pd.to_datetime(current_row[column_mapping['timestamp']]).date()
            end_date = pd.to_datetime(next_row[column_mapping['timestamp']]).date()

            # Count holidays
            holiday_count = sum(1 for day in pd.date_range(start_date, end_date) if day.date() in indian_holidays)

            # Assign the calculated holiday count to the next row
            power_df.loc[next_row.name, 'holiday_count'] = holiday_count

    return power_df

In [12]:
mapping = {
        'timestamp': 'BILL DATE',  # Explicitly set 'BILL DATE' as the timestamp column
        'party': 'SOLD TO PARTY',
        'location': 'Receiving Point'
    }
power_df_final = calculate_holiday_count(power_df,mapping)

Processing groups for holiday count: 100%|██████████| 64/64 [00:06<00:00, 10.57it/s]

In [13]:
power_df_final.describe()

,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),holiday_count
count,5765,5765.000000,5765.000000,5765.000000
mean,2020-11-19 13:52:01.665221120,11245.358716,2921.272392,0.576583
min,2019-04-15 00:00:00,10005.000000,0.000000,0.000000
25%,2019-10-31 00:00:00,10272.000000,182.073000,0.000000
50%,2020-05-31 00:00:00,10371.000000,957.018000,0.000000
75%,2022-03-15 00:00:00,10696.000000,3506.280000,1.000000
max,2023-03-31 00:00:00,51271.000000,42571.221000,30.000000
std,NaN,5313.087565,4734.761612,1.823750

In [16]:
import pandas as pd
import numpy as np
import requests
import time
from typing import Tuple
from statistics import mean
from datetime import datetime, timedelta
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor, as_completed

# Constants for API rate limiting
MAX_RETRIES = 5
BASE_BACKOFF = 1  # Seconds

# Location mapping with default coordinates (latitude, longitude)
location_mapping = { 
    'HAZIRA_ONG': ('Hazira, Gujarat', 21.1155, 72.6896),
    'DAHEJ': ('Dahej, Gujarat', 21.7245, 72.6504),
    'ONGCTROM': ('Agartala, Tripura', 23.8315, 91.2868),
    'ONGCMSEB': ('Mumbai, Maharashtra', 19.0760, 72.8777),
    'DABHOL': ('Dabhol, Maharashtra', 17.5905, 73.1810),
    'NANDIGAMA': ('Nandigama, Andhra Pradesh', 16.7717, 80.2880),
    'MDP_HP': ('Krishna, Andhra Pradesh', 16.6100, 80.7214),
    'KG BASIN': ('Kakinada, Andhra Pradesh', 16.9891, 82.2475),
    'ONGC-KUTGC': ('Bhuj, Gujarat', 23.2420, 69.6669),
    'ONGC-RMMDP': ('Rajahmundry, Andhra Pradesh', 16.9891, 81.7837),
    'ONGC-RMDGC': ('Rajahmundry, Andhra Pradesh', 16.9891, 81.7837),
    'ONGC-NRMHP': ('Mumbai, Maharashtra', 19.0760, 72.8777),
    'ONGC-KVKEP': ('Kakinada, Andhra Pradesh', 16.9891, 82.2475),
    'LANGTALA': ('Jaisalmer, Rajasthan', 26.9157, 70.9083),
    'DANDEWALA': ('Jaisalmer, Rajasthan', 26.9157, 70.9083),
    'GAMNEWALA': ('Jaisalmer, Rajasthan', 26.9157, 70.9083),
    'ONGCTHAL': ('Alibag, Maharashtra', 18.6414, 72.8722),
    'MHASKAL': ('Ahmednagar, Maharashtra', 19.0948, 74.7480),
    'ANKOT': ('Ankot, Gujarat', 22.2587, 71.1924),
    'ODLRU_GS15': ('Amalapuram, Andhra Pradesh', 16.5787, 82.0039),
    'HAZIRA_HLP': ('Hazira, Gujarat', 21.1155, 72.6896),
    'Delhi, India': ('Delhi, India', 28.6139, 77.2090)
}

def map_location(location):
    """Map a location to its simplified form or return 'Delhi, India' for NaN values."""
    if pd.isna(location):
        return 'Delhi, India'
    return location_mapping.get(location, (location, None, None))[0]

def get_coordinates(location: str) -> Tuple[float, float]:
    """
    Get the latitude and longitude of a location.
    Checks both abbreviated names and full location names.
    """
    if pd.isna(location):
        return location_mapping['Delhi, India'][1:]  # Return Delhi's coordinates for NaN

    # Check if the location matches a key (abbreviated name)
    if location in location_mapping:
        _, lat, lon = location_mapping[location]
        return lat, lon

    # Check if the location matches a full name
    for abbr, (full_name, lat, lon) in location_mapping.items():
        if location.lower() == full_name.lower():
            return lat, lon

    # If not found, use default coordinates
    print(f"Warning: Location '{location}' not found in mapping. Using default coordinates.")
    return 22.8440, 78.8253  # Approximate center of India as a last resort

def get_average_temperature(latitude: float, longitude: float, start_date: datetime.date, end_date: datetime.date) -> float:
    """
    Fetch historical temperature data from Open-Meteo API with exponential backoff.
    """
    if pd.isna(start_date) or pd.isna(end_date):
        power_df.loc[(power_df['SOLD TO PARTY'] == party) & (power_df['Receiving Point'] == location), 'Invalid_Date_Range'] = True
        print(f"Invalid date range: start_date={start_date}, end_date={end_date}")
    # Set default date range if start_date or end_date is NaT
    if pd.isna(start_date):
        start_date = datetime.today.date() # Default start date
    if pd.isna(end_date):
        end_date = datetime.today().date()  # Default end date to today
    base_url = "https://archive-api.open-meteo.com/v1/era5"
    params = {
        "latitude": latitude,
        "longitude": longitude,
        "start_date": start_date.strftime('%Y-%m-%d'),
        "end_date": end_date.strftime('%Y-%m-%d'),
        "hourly": "temperature_2m",
        "timezone": "GMT"
    }
    request_url = f"{base_url}?latitude={params['latitude']}&longitude={params['longitude']}&start_date={params['start_date']}&end_date={params['end_date']}&hourly={params['hourly']}&timezone={params['timezone']}"
    print(f"Request URL: {request_url}")

    backoff = BASE_BACKOFF
    for attempt in range(MAX_RETRIES):
        try:
            response = requests.get(base_url, params=params)
            response.raise_for_status()
            data = response.json()

            if "hourly" in data and "temperature_2m" in data["hourly"]:
                return mean(data["hourly"]["temperature_2m"])
            else:
                raise ValueError("No temperature data found in the API response")
        except requests.exceptions.RequestException as e:
            print(f"Error fetching temperature data: {e}")
            time.sleep(backoff)
            backoff *= 2
        except ValueError as e:
            print(f"Error processing temperature data: {e}")
            return None
    return None  # Return None after max retries

def calculate_avg_temp_for_period(args):
    """Calculate average temperature for a given period."""
    location, start_date, end_date, coordinates_cache = args

    if location not in coordinates_cache:
        coordinates_cache[location] = get_coordinates(location)

    latitude, longitude = coordinates_cache[location]

    # Implement rate limiting
    time.sleep(1)

    avg_temp = get_average_temperature(latitude, longitude, start_date, end_date)

    return location, start_date, end_date, avg_temp

def process_power_df(power_df):
    """Process the power DataFrame to add average temperature column."""
    # Create a copy of the DataFrame to avoid SettingWithCopyWarning
    power_df = power_df.copy()

    # Apply map_location to 'Receiving Point' column
    power_df['Receiving Point'] = power_df['Receiving Point'].apply(map_location)

    # Convert 'BILL DATE' to datetime
    power_df['BILL DATE'] = pd.to_datetime(power_df['BILL DATE'])

    # Group by 'SOLD TO PARTY' and 'Receiving Point'
    grouped = power_df.groupby(['SOLD TO PARTY', 'Receiving Point'])

    coordinates_cache = {}
    args_list = []
    temperature_cache = {}

    for (party, location), group in tqdm(grouped, desc="Preparing data"):
        # Sort by 'BILL DATE' ascending
        group = group.sort_values('BILL DATE')

        # Create a new DataFrame with previous and current timestamps
        shifted_df = group[['BILL DATE']].shift(periods=1)
        shifted_df.columns = ['previous_bill_date']
        group = group.join(shifted_df)

        for _, row in group.iterrows():
            start_date = row['previous_bill_date']
            end_date = row['BILL DATE']
            if pd.isna(start_date) or pd.isna(end_date):
                continue  # Skip rows with missing start or end date

            cache_key = (location, start_date, end_date)
            if cache_key in temperature_cache:
                avg_temp = temperature_cache[cache_key]
            else:
                args_list.append((location, start_date, end_date, coordinates_cache))

    results = []
    with ThreadPoolExecutor(max_workers=16) as executor:
        future_to_args = {executor.submit(calculate_avg_temp_for_period, args): args for args in args_list}
        for future in tqdm(as_completed(future_to_args), total=len(args_list), desc="Processing"):
            results.append(future.result())

    # Cache results
    for location, start_date, end_date, avg_temp in results:
        cache_key = (location, start_date, end_date)
        temperature_cache[cache_key] = avg_temp

    temp_df = pd.DataFrame(results, columns=['Receiving Point', 'Start Date', 'End Date', 'Average Temperature'])

    # Merge the temperature data back to the original DataFrame
    result_df = power_df.merge(temp_df, on='Receiving Point', how='left')

    return result_df

def main():
    try:

        print("Columns in the DataFrame:", power_df.columns)

        result_df = process_power_df(power_df)
        print("\nProcessed DataFrame:")
        print(result_df.head())

        result_df.to_csv('processed_power_data.csv', index=False)
        print("\nProcessed data saved to 'processed_power_data.csv'")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()

Processing:  96%|█████████▋| 5476/5687 [20:04<08:47,  2.50s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.9891&longitude=82.2475&start_date=2022-08-15&end_date=2022-08-31&hourly=temperature_2m&timezone=GMT

Processing:  96%|█████████▋| 5479/5687 [20:04<04:16,  1.24s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.9891&longitude=82.2475&start_date=2022-08-31&end_date=2022-09-15&hourly=temperature_2m&timezone=GMT

Processing:  96%|█████████▋| 5481/5687 [20:05<03:05,  1.11it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.9891&longitude=82.2475&start_date=2022-09-15&end_date=2022-09-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.9891&longitude=82.2475&start_date=2022-09-30&end_date=2022-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-04-15&end_date=2019-04-30&hourly=temperature_2m&timezone=GMT

Processing:  96%|█████████▋| 5482/5687 [20:05<02:48,  1.21it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-04-30&end_date=2019-05-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-05-15&end_date=2019-05-31&hourly=temperature_2m&timezone=GMT

Processing:  96%|█████████▋| 5485/5687 [20:06<01:45,  1.91it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-05-31&end_date=2019-06-15&hourly=temperature_2m&timezone=GMT

Processing:  96%|█████████▋| 5487/5687 [20:06<01:17,  2.58it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-06-15&end_date=2019-06-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-06-30&end_date=2019-07-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-07-15&end_date=2019-07-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-07-31&end_date=2019-08-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-08-15&end_date=2019-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-08-31&end_date=2019-09-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5488/5687 [20:12<05:51,  1.77s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-09-15&end_date=2019-09-30&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5489/5687 [20:14<06:17,  1.91s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-09-30&end_date=2019-10-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5494/5687 [20:27<04:24,  1.37s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-10-15&end_date=2019-10-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5497/5687 [20:28<02:21,  1.34it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-10-31&end_date=2019-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-11-15&end_date=2019-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-11-30&end_date=2019-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-12-15&end_date=2019-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2019-12-31&end_date=2020-01-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5499/5687 [20:28<01:40,  1.87it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-01-15&end_date=2020-01-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5501/5687 [20:29<01:18,  2.38it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-01-31&end_date=2020-02-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5503/5687 [20:29<00:54,  3.36it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-02-15&end_date=2020-02-29&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-02-29&end_date=2020-03-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-03-15&end_date=2020-03-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-03-31&end_date=2020-04-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-04-15&end_date=2020-04-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-04-30&end_date=2020-05-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5504/5687 [20:35<04:49,  1.58s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-05-15&end_date=2020-05-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5505/5687 [20:37<05:18,  1.75s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-05-31&end_date=2020-06-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5510/5687 [20:51<04:04,  1.38s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-06-15&end_date=2020-06-30&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5512/5687 [20:51<02:17,  1.27it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-06-30&end_date=2020-07-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-07-15&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5513/5687 [20:51<02:06,  1.37it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-07-31&end_date=2020-08-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5514/5687 [20:52<01:51,  1.55it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-08-15&end_date=2020-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-08-31&end_date=2020-09-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-09-15&end_date=2020-09-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5519/5687 [20:52<00:41,  4.00it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-09-15&end_date=2020-09-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2020-09-30&end_date=2021-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-10-15&end_date=2021-10-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-10-31&end_date=2021-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-11-15&end_date=2021-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-11-30&end_date=2021-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-12-15&end_date=2021-12-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5520/5687 [20:58<04:30,  1.62s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2021-12-31&end_date=2022-01-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5521/5687 [21:00<04:51,  1.76s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-01-15&end_date=2022-01-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5526/5687 [21:14<04:13,  1.57s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-01-31&end_date=2022-02-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5528/5687 [21:14<02:36,  1.01it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-02-15&end_date=2022-02-28&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-02-28&end_date=2022-03-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-03-15&end_date=2022-03-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5529/5687 [21:14<02:18,  1.14it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-03-31&end_date=2022-04-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-04-15&end_date=2022-04-30&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5532/5687 [21:15<01:16,  2.04it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-04-30&end_date=2022-05-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5535/5687 [21:16<00:46,  3.30it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-05-15&end_date=2022-05-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-05-31&end_date=2022-06-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-06-15&end_date=2022-06-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-06-30&end_date=2022-07-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-07-15&end_date=2022-07-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-07-31&end_date=2022-08-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-08-15&end_date=2022-08-31&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5536/5687 [21:21<03:52,  1.54s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-08-31&end_date=2022-09-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5537/5687 [21:24<04:14,  1.70s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-09-15&end_date=2022-09-30&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5542/5687 [21:37<03:31,  1.46s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-09-30&end_date=2022-10-15&hourly=temperature_2m&timezone=GMT

Processing:  97%|█████████▋| 5544/5687 [21:37<02:15,  1.05it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-10-31&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5545/5687 [21:38<01:58,  1.19it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.61&longitude=80.7214&start_date=2022-11-15&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-06-15&end_date=2019-06-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-06-30&end_date=2019-07-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5546/5687 [21:38<01:48,  1.30it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-07-15&end_date=2019-07-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5551/5687 [21:39<00:45,  2.99it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-07-31&end_date=2019-08-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-08-15&end_date=2019-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-08-31&end_date=2019-09-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-09-15&end_date=2019-09-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-09-15&end_date=2019-09-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-09-30&end_date=2019-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-10-15&end_date=2019-10-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5552/5687 [21:45<03:00,  1.34s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-10-15&end_date=2019-10-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5553/5687 [21:47<03:22,  1.51s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-10-31&end_date=2019-10-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5560/5687 [22:00<01:39,  1.28it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-10-31&end_date=2019-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-11-15&end_date=2019-11-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5561/5687 [22:01<01:28,  1.42it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-11-15&end_date=2019-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-11-30&end_date=2019-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-11-30&end_date=2019-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-12-15&end_date=2019-12-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5562/5687 [22:01<01:25,  1.46it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-12-15&end_date=2019-12-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5566/5687 [22:02<00:38,  3.13it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-12-31&end_date=2019-12-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5567/5687 [22:02<00:35,  3.41it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2019-12-31&end_date=2020-01-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-01-15&end_date=2020-01-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-01-31&end_date=2020-02-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-02-15&end_date=2020-02-29&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-02-29&end_date=2020-03-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-03-15&end_date=2020-03-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5568/5687 [22:08<03:07,  1.58s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-03-31&end_date=2020-05-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5569/5687 [22:10<03:23,  1.73s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-05-31&end_date=2020-06-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5576/5687 [22:24<01:22,  1.35it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-06-15&end_date=2020-06-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-06-30&end_date=2020-07-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5577/5687 [22:24<01:10,  1.55it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-07-15&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-07-31&end_date=2020-08-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-08-15&end_date=2020-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-08-31&end_date=2020-08-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5578/5687 [22:25<01:08,  1.58it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-08-31&end_date=2020-09-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5582/5687 [22:25<00:30,  3.46it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-09-15&end_date=2020-09-30&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5583/5687 [22:25<00:27,  3.85it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-03-15&end_date=2020-03-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-03-31&end_date=2020-04-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-04-15&end_date=2020-04-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-04-30&end_date=2020-05-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-05-15&end_date=2020-05-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-05-31&end_date=2020-06-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5584/5687 [22:31<02:44,  1.60s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=28.6139&longitude=77.209&start_date=2020-09-15&end_date=2020-09-30&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5585/5687 [22:33<02:59,  1.76s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-09-15&end_date=2019-09-30&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5592/5687 [22:47<01:38,  1.03s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-10-15&end_date=2019-10-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-10-31&end_date=2019-11-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5593/5687 [22:47<01:25,  1.10it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-11-15&end_date=2019-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-11-30&end_date=2019-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-12-15&end_date=2019-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2019-12-31&end_date=2020-01-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-01-15&end_date=2020-01-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5598/5687 [22:49<00:33,  2.64it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-01-31&end_date=2020-02-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-02-15&end_date=2020-02-29&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-02-29&end_date=2020-03-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-03-15&end_date=2020-03-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-06-15&end_date=2020-06-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-06-30&end_date=2020-07-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-15&end_date=2020-07-15&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5600/5687 [22:54<02:06,  1.46s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-15&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT

Processing:  98%|█████████▊| 5601/5687 [22:57<02:20,  1.63s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-31&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▊| 5608/5687 [23:10<01:18,  1.00it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-31&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▊| 5609/5687 [23:11<01:10,  1.10it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-31&end_date=2020-07-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-07-31&end_date=2020-08-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-08-15&end_date=2020-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-08-31&end_date=2020-09-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-09-15&end_date=2020-09-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▊| 5610/5687 [23:11<01:04,  1.19it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-09-15&end_date=2020-09-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▊| 5614/5687 [23:12<00:30,  2.38it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2020-09-30&end_date=2020-09-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-08-15&end_date=2022-08-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-08-31&end_date=2022-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-10-31&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-11-15&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-07-31&end_date=2022-08-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5616/5687 [23:18<01:42,  1.44s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-08-15&end_date=2022-08-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5617/5687 [23:20<01:52,  1.61s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-08-15&end_date=2022-08-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5623/5687 [23:34<01:12,  1.13s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-08-31&end_date=2022-09-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5625/5687 [23:34<00:49,  1.26it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5626/5687 [23:35<00:43,  1.41it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5630/5687 [23:35<00:18,  3.05it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-30&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5631/5687 [23:36<00:16,  3.30it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-30&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-30&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-15&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-15&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-31&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-31&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5632/5687 [23:41<01:31,  1.67s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-15&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5633/5687 [23:44<01:36,  1.80s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-15&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5640/5687 [23:58<00:52,  1.12s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-31&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5641/5687 [23:58<00:46,  1.00s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-31&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-31&end_date=2023-03-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5642/5687 [23:58<00:38,  1.17it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5644/5687 [23:59<00:24,  1.76it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5646/5687 [23:59<00:17,  2.38it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-15&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5647/5687 [23:59<00:14,  2.70it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-30&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-11-30&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-15&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-15&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-31&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-31&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5648/5687 [24:05<01:06,  1.69s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2022-12-31&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5649/5687 [24:07<01:07,  1.77s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.1155&longitude=72.6896&start_date=2023-01-15&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5656/5687 [24:21<00:29,  1.05it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-09-30&end_date=2022-09-30&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5657/5687 [24:22<00:26,  1.13it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-09-30&end_date=2022-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-10-15&end_date=2022-10-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT

Processing:  99%|█████████▉| 5658/5687 [24:22<00:21,  1.37it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-10-31&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-10-31&end_date=2022-11-15&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5659/5687 [24:22<00:17,  1.63it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-11-15&end_date=2022-11-30&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5662/5687 [24:23<00:10,  2.36it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-11-30&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-12-15&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2022-12-31&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2023-01-15&end_date=2023-01-15&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=19.0948&longitude=74.748&start_date=2023-01-15&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMTRequest URL: https://archive-api.open-meteo.com/v1/era5?latitude=22.2587&longitude=71.1924&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5664/5687 [24:29<00:32,  1.40s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=16.5787&longitude=82.0039&start_date=2022-10-15&end_date=2022-10-31&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5665/5687 [24:31<00:34,  1.55s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-15&end_date=2022-12-15&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5671/5687 [24:45<00:20,  1.28s/it]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-15&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5673/5687 [24:46<00:12,  1.08it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-31&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-31&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT

Processing: 100%|█████████▉| 5674/5687 [24:46<00:10,  1.28it/s]

Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2023-01-31&end_date=2023-01-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-15&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT
Request URL: https://archive-api.open-meteo.com/v1/era5?latitude=21.7245&longitude=72.6504&start_date=2022-12-31&end_date=2022-12-31&hourly=temperature_2m&timezone=GMT

Processing: 100%|██████████| 5687/5687 [25:09<00:00,  3.77it/s]

Processed DataFrame:
   BILL DATE  SOLD TO PARTY  QTY(1000 SM3) INDUSTORY SECTOR Receiving Point  \
0 2019-04-15          10335        829.926   Power Industry    Delhi, India
1 2019-04-15          10335        829.926   Power Industry    Delhi, India
2 2019-04-15          10335        829.926   Power Industry    Delhi, India
3 2019-04-15          10335        829.926   Power Industry    Delhi, India
4 2019-04-15          10335        829.926   Power Industry    Delhi, India

  Start Date   End Date  Average Temperature
0 2019-11-15 2019-11-15            21.129167
1 2019-09-30 2019-09-30            25.466667
2 2019-11-30 2019-12-01            15.879167
3 2019-08-15 2019-08-31            29.036765
4 2019-10-31 2019-10-31            24.487500

Processed data saved to 'processed_power_data.csv'

In [19]:
result_df = pd.read_csv('processed_power_data.csv')

result_df.head()

,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),INDUSTORY SECTOR,Receiving Point,Start Date,End Date,Average Temperature
0,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
1,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-09-30,2019-09-30,25.466667
2,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-11-30,2019-12-01,15.879167
3,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-08-15,2019-08-31,29.036765
4,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-10-31,2019-10-31,24.487500

In [21]:
# Drop duplicate rows, keeping the first occurrence
df_unique = result_df.drop_duplicates(subset=['SOLD TO PARTY', 'BILL DATE'], keep='first')

In [23]:
df_unique.reset_index()

,index,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),INDUSTORY SECTOR,Receiving Point,Start Date,End Date,Average Temperature
0,0,2019-04-15,10335,829.926,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
1,6231,2019-04-30,10335,445.227,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
2,12462,2019-05-15,10335,389.563,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
3,18693,2019-05-31,10335,837.314,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
4,24924,2019-06-15,10335,282.690,Power Industry,"Delhi, India",2019-11-15,2019-11-15,21.129167
...,...,...,...,...,...,...,...,...,...
2658,6218864,2022-10-15,51164,40.340,Power Industry,"Amalapuram, Andhra Pradesh",2022-08-15,2022-08-31,28.669118
2659,6218870,2022-10-31,51050,193.332,Power Industry,"Amalapuram, Andhra Pradesh",2022-08-15,2022-08-31,28.669118
2660,6218876,2022-10-31,51164,38.666,Power Industry,"Amalapuram, Andhra Pradesh",2022-08-15,2022-08-31,28.669118
2661,6218882,2022-11-15,51050,181.242,Power Industry,"Amalapuram, Andhra Pradesh",2022-08-15,2022-08-31,28.669118
2662,6218888,2022-11-30,51050,80.559,Power Industry,"Amalapuram, Andhra Pradesh",2022-08-15,2022-08-31,28.669118

In [25]:
df_unique.to_csv('Clean_Data.csv')

In [26]:
# Ensure 'BILL DATE' and 'End Date' are treated as strings, or adjust to appropriate format if needed
result_df['BILL DATE'] = result_df['BILL DATE'].astype(str)
result_df['End Date'] = result_df['End Date'].astype(str)

# Filter rows where 'BILL DATE' equals 'End Date'
df_filtered = result_df[result_df['BILL DATE'] == result_df['End Date']]

In [30]:
result_df['BILL DATE'] = pd.to_datetime(result_df['BILL DATE'], errors='coerce')
result_df['End Date'] = pd.to_datetime(result_df['End Date'], errors='coerce')

# Calculate the absolute difference in days between 'BILL DATE' and 'End Date'
result_df['Difference'] = abs(result_df['BILL DATE'] - result_df['End Date'])

# For each 'SOLD TO PARTY', keep the row with the minimum difference
df_closest = result_df.loc[result_df.groupby(['SOLD TO PARTY','BILL DATE'])['Difference'].idxmin()]

In [32]:
df_closest.reset_index()

,index,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),INDUSTORY SECTOR,Receiving Point,Start Date,End Date,Average Temperature,Difference
0,785323,2019-04-15,10005,6163.177,Power Industry,"Krishna, Andhra Pradesh",2019-04-15,2019-04-30,32.019792,15 days
1,795302,2019-04-30,10005,6012.961,Power Industry,"Krishna, Andhra Pradesh",2019-04-15,2019-04-30,32.019792,0 days
2,800708,2019-05-15,10005,6046.048,Power Industry,"Krishna, Andhra Pradesh",2019-04-30,2019-05-15,33.795573,0 days
3,813591,2019-05-31,10005,5476.559,Power Industry,"Krishna, Andhra Pradesh",2019-05-15,2019-05-31,33.735294,0 days
4,816496,2019-06-15,10005,5723.065,Power Industry,"Krishna, Andhra Pradesh",2019-05-31,2019-06-15,34.206250,0 days
...,...,...,...,...,...,...,...,...,...,...
2658,6192027,2022-12-15,51270,82.912,Power Industry,"Dahej, Gujarat",2022-11-30,2022-12-15,25.953646,0 days
2659,6195031,2022-12-31,51270,431.349,Power Industry,"Dahej, Gujarat",2022-12-30,2022-12-31,22.391667,0 days
2660,6198703,2023-01-31,51270,54.347,Power Industry,"Dahej, Gujarat",2023-01-15,2023-01-31,21.666176,0 days
2661,6212010,2022-12-15,51271,103.002,Power Industry,"Dahej, Gujarat",2022-11-30,2022-12-15,25.953646,0 days
2662,6214181,2022-12-31,51271,718.988,Power Industry,"Dahej, Gujarat",2022-12-30,2022-12-31,22.391667,0 days

In [33]:
df_closest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2663 entries, 785323 to 6214181
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BILL DATE            2663 non-null   datetime64[ns]
 1   SOLD TO PARTY        2663 non-null   int64
 2   QTY(1000 SM3)        2663 non-null   float64
 3   INDUSTORY SECTOR     2663 non-null   object
 4   Receiving Point      2663 non-null   object
 5   Start Date           2663 non-null   object
 6   End Date             2663 non-null   datetime64[ns]
 7   Average Temperature  2663 non-null   float64
 8   Difference           2663 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3), timedelta64[ns](1)
memory usage: 208.0+ KB

In [34]:
df_closest.describe()

,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),End Date,Average Temperature,Difference
count,2663,2663.000000,2663.000000,2663,2663.000000,2663
mean,2021-02-05 13:52:44.701464576,11483.398423,4336.745010,2021-02-05 14:47:21.607209984,26.608196,0 days 01:00:01.351858805
min,2019-04-15 00:00:00,10005.000000,0.000000,2019-04-15 00:00:00,10.113725,0 days 00:00:00
25%,2019-11-30 00:00:00,10272.000000,472.500000,2019-11-30 00:00:00,24.622917,0 days 00:00:00
50%,2020-08-15 00:00:00,10371.000000,2615.260000,2020-08-15 00:00:00,27.568490,0 days 00:00:00
75%,2022-05-31 00:00:00,10696.000000,5213.815000,2022-05-31 00:00:00,29.848177,0 days 00:00:00
max,2023-03-31 00:00:00,51271.000000,42571.221000,2023-03-31 00:00:00,36.602083,30 days 00:00:00
std,NaN,6127.382916,5724.371285,NaN,5.070069,0 days 21:11:46.657597249

In [35]:
import pandas as pd
import holidays
from datetime import timedelta
from tqdm import tqdm

def calculate_holiday_count(power_df, column_mapping):
    """
    Calculate the holiday count between consecutive timestamps for each client.

    Args:
        power_df (pd.DataFrame): Input DataFrame
        column_mapping (dict): Mapping of required fields to actual column names

    Returns:
        pd.DataFrame: DataFrame with 'holiday_count' column added
    """
    # Initialize Indian holidays
    indian_holidays = holidays.India()

    # Sort the DataFrame by party and timestamp
    power_df = power_df.sort_values([column_mapping['party'], column_mapping['timestamp']])

    # Initialize the 'holiday_count' column
    power_df['holiday_count'] = 0

    # Group the DataFrame by party
    grouped = power_df.groupby(column_mapping['party'])

    # Process each group
    for _, group in tqdm(grouped, desc="Processing groups for holiday count"):
        # Calculate holiday count between consecutive timestamps
        for i in range(len(group) - 1):
            current_row = group.iloc[i]
            next_row = group.iloc[i + 1]

            start_date = pd.to_datetime(current_row[column_mapping['timestamp']]).date()
            end_date = pd.to_datetime(next_row[column_mapping['timestamp']]).date()

            # Count holidays
            holiday_count = sum(1 for day in pd.date_range(start_date, end_date) if day.date() in indian_holidays)

            # Assign the calculated holiday count to the next row
            power_df.loc[next_row.name, 'holiday_count'] = holiday_count

    return power_df

In [42]:
mapping = {
        'timestamp': 'BILL DATE',  # Explicitly set 'BILL DATE' as the timestamp column
        'party': 'SOLD TO PARTY',
        'location': 'Receiving Point'
    }
power_df_final_0 = calculate_holiday_count(df_closest,mapping)

Processing groups for holiday count: 100%|██████████| 64/64 [00:02<00:00, 23.11it/s]

In [43]:
power_df_final_0.to_csv('Final_Dataset.csv')

In [ ]:
import pandas as pd
import ydata_profiling
from ydata_profiling import ProfileReport

final = pd.read_csv('Final_Dataset.csv')
clients = final['SOLD TO PARTY'].unique()
for client in clients:
    df_part = power_df_final_0.loc[(power_df_final_0['SOLD TO PARTY'] == client)]
    profile = ProfileReport(df_part, title="Profiling Report", explorative=True)
    profile.to_file(f"{client}_report.html")
    del(df_part)
    print(f"{client}_done")

In [48]:
    # Extract basic date components
def seasonl_Cols(df):
    df['Year'] = df['BILL DATE'].dt.year
    df['Month'] = df['BILL DATE'].dt.month
    df['Day'] = df['BILL DATE'].dt.day
    df['Weekday'] = df['BILL DATE'].dt.weekday  # Monday=0, Sunday=6
    df['Quarter'] = df['BILL DATE'].dt.quarter

    # Create seasonal features
    def get_season(month):
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        elif month in [9, 10, 11]:
            return 'Fall'

    df['Season'] = df['Month'].apply(get_season)
    df['Is_Weekend'] = df['Weekday'].apply(lambda x: 1 if x >= 5 else 0)

    # Create trend-related features
    df['Day_of_Year'] = df['BILL DATE'].dt.day_of_year
    df['Week_of_Year'] = df['BILL DATE'].dt.isocalendar().week
    return df

IndentationError: expected an indented block after function definition on line 2 (1047994644.py, line 3)

In [ ]:
fin_s = seasonal_Cols(power_df_final_0)

In [62]:
import pandas as pd

clients = power_df_final_0['SOLD TO PARTY'].unique()
fin_r = pd.DataFrame()
print(power_df_final_0.columns)
for client in clients:
    df_part = power_df_final_0.loc[power_df_final_0['SOLD TO PARTY'] == client]
    print(df_part.columns)
    result_part = df_part.copy()
    
    # Convert 'BILL DATE' to datetime and set it as the index
    result_part['BILL DATE'] = pd.to_datetime(result_part['BILL DATE'])
    result_part.set_index('BILL DATE', inplace=True)
    
    # Resample and aggregate (you need to specify how to aggregate)
    #result_part = result_part.resample('2W').agg({'QTY(1000 SM3)': 'mean'})
    
    # Calculate rolling means
    result_part['deferred_3'] = result_part['QTY(1000 SM3)'].rolling(window=3, min_periods=1).mean().shift(1)
    result_part['deferred_4'] = result_part['QTY(1000 SM3)'].rolling(window=4, min_periods=1).mean().shift(1)
    result_part['deferred_6'] = result_part['QTY(1000 SM3)'].rolling(window=6, min_periods=1).mean().shift(1)
    
        
    # Add 'SOLD TO PARTY' column back
    result_part['SOLD TO PARTY'] = client
    
    fin_r = pd.concat([fin_r, result_part], ignore_index=False)

# Reset index to make 'BILL DATE' a column again
fin_r.reset_index(inplace=True)

# Display summary statistics
fin_r.describe()

Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')

Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')
Index(['BILL DATE', 'SOLD TO PARTY', 'QTY(1000 SM3)', 'INDUSTORY SECTOR',
       'Receiving Point', 'Start Date', 'End Date', 'Average Temperature',
       'Difference', 'holiday_count'],
      dtype='object')

,BILL DATE,SOLD TO PARTY,QTY(1000 SM3),End Date,Average Temperature,Difference,holiday_count,deferred_3,deferred_4,deferred_6
count,2663,2663.000000,2663.000000,2663,2663.000000,2663,2663.000000,2599.000000,2599.000000,2599.000000
mean,2021-02-05 13:52:44.701464576,11483.398423,4336.745010,2021-02-05 14:47:21.607209984,26.608196,0 days 01:00:01.351858805,1.132557,4408.244286,4417.482079,4434.298116
min,2019-04-15 00:00:00,10005.000000,0.000000,2019-04-15 00:00:00,10.113725,0 days 00:00:00,0.000000,0.000000,0.000000,0.000000
25%,2019-11-30 00:00:00,10272.000000,472.500000,2019-11-30 00:00:00,24.622917,0 days 00:00:00,0.000000,663.006667,743.906500,807.447000
50%,2020-08-15 00:00:00,10371.000000,2615.260000,2020-08-15 00:00:00,27.568490,0 days 00:00:00,1.000000,2705.816000,2755.284500,2778.438500
75%,2022-05-31 00:00:00,10696.000000,5213.815000,2022-05-31 00:00:00,29.848177,0 days 00:00:00,1.000000,5099.231833,5071.381125,5035.065750
max,2023-03-31 00:00:00,51271.000000,42571.221000,2023-03-31 00:00:00,36.602083,30 days 00:00:00,30.000000,35987.261333,35519.066750,31965.961000
std,NaN,6127.382916,5724.371285,NaN,5.070069,0 days 21:11:46.657597249,2.457162,5516.859365,5474.293204,5427.679119

In [64]:
fin_r.drop(['Start Date','End Date','Difference'],inplace=True,axis=1)

In [65]:
fin_r.to_csv('sleepy_fin.csv')

In [68]:
    # Extract basic date components
def seasonl_Cols(df):
    
        df['Year'] = df['BILL DATE'].dt.year
        df['Month'] = df['BILL DATE'].dt.month
        df['Day'] = df['BILL DATE'].dt.day
        df['Weekday'] = df['BILL DATE'].dt.weekday  # Monday=0, Sunday=6
        df['Quarter'] = df['BILL DATE'].dt.quarter
    
        # Create seasonal features
        def get_season(month):
            if month in [12, 1, 2]:
                return 'Winter'
            elif month in [3, 4, 5]:
                return 'Spring'
            elif month in [6, 7, 8]:
                return 'Summer'
            elif month in [9, 10, 11]:
                return 'Fall'
    
        df['Season'] = df['Month'].apply(get_season)
        df['Is_Weekend'] = df['Weekday'].apply(lambda x: 1 if x >= 5 else 0)
    
        # Create trend-related features
        df['Day_of_Year'] = df['BILL DATE'].dt.day_of_year
        df['Week_of_Year'] = df['BILL DATE'].dt.isocalendar().week
        return df

In [73]:

df_f = pd.read_csv('sleepy_fin.csv')
final = pd.DataFrame()
df_f['BILL DATE']=pd.to_datetime(df_f['BILL DATE'])
final = pd.concat([final,seasonl_Cols(df_f)])

In [75]:
import pandas as pd
import ydata_profiling
from ydata_profiling import ProfileReport

clients = final['SOLD TO PARTY'].unique()
for client in clients:
    df_part = final.loc[(final['SOLD TO PARTY'] == client)]
    profile = ProfileReport(df_part, title="Profiling Report", explorative=True)
    profile.to_file(rf"reports\{client}_report.html")
    del(df_part)
    print(f"{client}_done")

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 62.94it/s, Calculate auto correlation]           c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 6 6
 6 6 6 6 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 9 0 0 0 0 1 1 3 3 4 4 5 5 6 6 7 7 8 8
 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 0 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9
 4 9 4 9 4 9 4 8 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 9 1 3 6 8 8 9 1 6 9 0 1 3 6 8 0 1 3 6 9
 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 6 6 6 6 6 6 9 9
 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 1 1 2 3 3 4 4 5 5 6 6 6 7 7 8
 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Krishna, Andhra Pradesh'')
  warnings.warn(
Summarize dataset: 100%|██████████| 174/174 [00:32<00:00,  5.40it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.15s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.51s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 71.42it/s]

10005_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 61.39it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 6 6 6 6
 6 6 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 8 8 9 9
 9 9 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 0 9 0 9
 0 9 9 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 6 9 0 1
 3 6 0 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 9 9 9 9
 9 9 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 7 8 8 9
 9 9 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Bhuj, Gujarat'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:24<00:00,  5.41it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.29s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.60s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 107.42it/s]

10007_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 50.02it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 4 4 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7
 7 7 7 7 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 6 7 8 9 9 1 1 2 3 4 5 6 7 8 8 9 9 9 9 0 0 1 2 2 3 4 5 6 6 7
 7 8 9 9 0 0 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 0 0 0 0 0 0 9 0 0 0 0 0 0 0 9 0 9 0 9 0 9 9 0 9 0 0 0 0 9 0
 9 0 9 9 9 8 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 4 9 1 6 9 9 1 3 6 0 3 8 1 6 9 0 1 3 6 8 0 4 6 8 9 3 6 0 3 4
 6 8 3 8 1 1 3]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 9 9 9 0 0 3 3 3 6 6 6 9 9 9 9 9 9 0 0 0 3 3 3 3 6 6 6 6
 6 9 9 9 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 6 6 7 8 9 1 2 2 3 4 5 6 6 7 8 8 9 9 9 0 0 2 2 2 3 4 5 6 6 6
 7 7 9 9 0 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Nandigama, Andhra Pradesh'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:18<00:00,  8.28it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.53s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.77s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 83.39it/s]

10042_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00,  6.41it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 6 7]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 6 0 3]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 6 7]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:14<00:00,  8.75it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.97s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.92s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 124.87it/s]

10053_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 57.91it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4
 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8
 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 0 1 3 6
 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9
 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 6 6 7 7
 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:13<00:00,  9.29it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.89s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.68s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 108.36it/s]

10054_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 63.61it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 4
 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 3 3 4 4 5 5 6 6 7 7 8 8 9
 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 6 9 0 1 3 6 8 0 1 3 6 9 0
 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 6 6 6 6 6 6 9 9 9
 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 3 3 4 4 5 5 6 6 6 7 7 8 8
 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Rajahmundry, Andhra Pradesh'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:17<00:00,  8.85it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.58s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.98s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 90.97it/s]

10114_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 80.70it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 4 4 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9
 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 4 5 5 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6
 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0
 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 9 3 9 3 5 9 0 3 9 9 3 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3
 9 3 9 3 9 3 9 3 9 3 9 3 8 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 8
 3 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 4 9 6 0 0 3 1 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8
 0 1 3 6 9 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1
 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 3 6 6 6 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6
 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0
 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 4 4 5 5 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6
 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1
 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:17<00:00,  8.64it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.89s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.98s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 76.81it/s]

10150_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 49.17it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 4 4 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9
 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 4 5 5 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6
 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0
 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 9 3 9 3 5 9 0 3 9 9 3 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3
 9 3 9 3 9 3 9 3 9 3 9 3 8 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 8
 3 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 4 9 6 0 0 3 1 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8
 0 1 3 6 9 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1
 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 3 6 6 6 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6
 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0
 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 4 4 5 5 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6
 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1
 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:19<00:00,  7.91it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.82s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.10s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 78.51it/s]

10151_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 87.44it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 3 3 4 4 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 3 6 8 9 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 0 1 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 3 3 4 4 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 6 6 7 7]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:19<00:00,  7.87it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.52s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.55s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 110.95it/s]

10177_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 61.55it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 9
 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8
 8 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 0 1 3 6
 9 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9
 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 6 6 7 7
 8 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:13<00:00,  9.59it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.25s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.42s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 119.80it/s]

10192_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 84.40it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 4 4 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9
 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 7
 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 9 0 0 0 0 1 1
 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 0 3 9
 3 9 3 9 3 9 3 9 3 8 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 3 9 9 3 9 3 8 3 9
 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 0 8 1 3
 6 9 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 6 8 9 1 3 1 3 4
 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 6
 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 9 0 0 0 0 0 0
 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 6 6 6 7
 7 8 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 1 1 2
 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Dahej, Gujarat'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:16<00:00,  9.09it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.00s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.88s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 100.12it/s]

10226_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 81.91it/s, Calculate auto correlation]           c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 6 6 7 7 8 8 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[4 9 4 9 4 9 0 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 9 4 4 9 4 9 4 9 4 9 4 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 4 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 8 0 1 3 6 9 0 1 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 4 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 6 6 6 7 7 8 8 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Delhi, India'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:16<00:00,  9.12it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.44s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.64s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 100.06it/s]

10272_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 98.57it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4
 4 4 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8
 8 9 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 9 0 1 3 6 8 0 1 3 6
 9 0 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1 3 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9
 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 3 4 4 5 5 6 6 6 7 7
 8 8 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:14<00:00,  8.99it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.13s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.63s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 110.53it/s]

10282_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 49.43it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 4
 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 2 2 3 4 5 5 6 6 7 7 8 8 9
 9 9 9 0 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 0 1 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 9 0 9 0 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 8 0 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 6 8 8 9 1 3 4 6 1 3 6 8 0 1 3 6 9 0
 1 3 6 8 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 8 9 1 3 1 3 4 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 3 3 3 3 6 6 6 6 6 6 9 9 9
 9 9 9 0 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2 3 3 4 5 5 6 6 6 7 7 8 8
 9 9 9 0 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 0 1 1 2 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:14<00:00,  9.19it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.19s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.64s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 111.13it/s]

10307_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00,  8.44it/s, Calculate auto correlation]          c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 4 4
 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 7 7 8 8 9 9 9 9 0 0 0 1 1 2 3 4 4 5 5 6 6 7 7 7 8 8 9 9
 9 0 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 9 0 0 0 0 1 1 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 9 0 9 0 9 0 9 0 9 0 9 8 0 9 0 0 0 9 0 9 0 9 0 1 9 0 9 0 9
 9 9 0 8 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 9 0 9 0 8 0 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 8 9 0 1 4 6 8 9 1 3 6 8 9 0 3 6 0 1 3 6 8 0 1 4 3 6 9 0 1
 6 0 1 0 1 4 6 8 9 1 3 4 6 9 0 3 4 6 8 0 1 3 4 6 8 9 1 3 1 3 4 6]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 0 3 3 3 3 6 6 6 6 6 6 6 9 9 9 9
 9 0 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 9 0 0 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 0 0 1 1 2 2 3 4 4 5 5 6 6 6 7 7 7 8 8 9
 9 0 0 1 1 2 2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 1 1 2 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Dahej, Gujarat'')
  warnings.warn(
Summarize dataset: 100%|██████████| 151/151 [00:17<00:00,  8.85it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.93s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.99s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 98.26it/s]

10331_done

c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  81%|████████▏ | 22/27 [00:00<00:00, 110.68it/s, Calculate auto correlation]         c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 4
 4 4 4 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 9 9 0 0 0 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9
 9 9 9 0 0 1 1 2 2 3 3 4 5 5 6 6 7 7 8 8 9 9 9 9 9 0 0 0 0 1]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0 0 8 9 0 9 0 9 0 9 0 9 0 9 0 9 0 9 0
 9 0 9 0 8 0 9 0 9 0 9 9 0 9 0 9 0 9 0 9 0 9 0 9 9 0 9 0 8 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 1 3 6 8 9 0 3 4 8 9 0 1 4 6 8 9 1 3 8 8 1 3 4 6 9 0 1 3 6 8 0 1 3 6 9 0
 1 3 6 8 0 1 4 6 8 9 1 4 6 9 0 3 4 6 8 0 1 3 4 6 8 9 1 3 1 4]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 0 0 0 0 3 3 3 3 3 3 6 6 6 6 6 6 9 9 9
 9 9 9 0 0 0 0 3 3 3 3 3 6 6 6 6 6 6 9 9 9 9 9 9 9 0 0 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 2 3 3 4 4 5 5 6 6 6 7 7 8 8 9 9 9 0 0 1 2 2 3 3 3 4 4 5 5 6 6 6 7 7 8 8
 9 9 9 0 1 1 2 2 2 3 3 4 5 5 6 6 6 7 7 8 8 9 9 9 9 0 0 0 1 2]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Krishna\.conda\envs\DATA_FORT\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Spring'')
  warnings.warn(
Summarize dataset: 100%|██████████| 130/130 [00:14<00:00,  9.24it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.98s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.81s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 90.77it/s]

10333_done